body {
  margin: 0%;
  -webkit-margin: 0%;
  -moz-margin: 0%;
  -ms-margin: 0%;
  -o-margin: 0%;
  background-color: #e2e2e2;
  font-family: sans-serif;
}

#navigation {
  width: 100%;
  -webkit-width: 100%;
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  padding-top: 1%;
  -webkit-padding-top: 1%;
  -moz-padding-top: 1%;
  -ms-padding-top: 1%;
  -o-padding-top: 1%;
  padding-bottom: 1%;
  -webkit-padding-bottom: 1%;
  -moz-padding-bottom: 1%;
  -ms-padding-bottom: 1%;
  -o-padding-bottom: 1%;
  background-color: #fff;
  overflow: auto;
}

.navigationLink {
  text-decoration: none;
  color: #191919;
  font-size: 1.1vw;
  -webkit-font-size: 1.1vw;
  -moz-font-size: 1.1vw;
  -ms-font-size: 1.1vw;
  -o-font-size: 1.1vw;
  margin-top: .5%;
  -webkit-margin-top: .5%;
  -moz-margin-top: .5%;
  -ms-margin-top: .5%;
  -o-margin-top: .5%;
  display: inline-block;
  margin-left: 3%;
  -webkit-margin-left: 3%;
  -moz-margin-left: 3%;
  -ms-margin-left: 3%;
  -o-margin-left: 3%;
}

#activeLink {
  background-color: #0099ff;
  color: #fff;
  padding: .3% 2% .3% 2%;
  -webkit-padding: .3% 2% .3% 2%;
  -moz-padding: .3% 2% .3% 2%;
  -ms-padding: .3% 2% .3% 2%;
  -o-padding: .3% 2% .3% 2%;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  font-weight: bold;
}

#searchContainer {
  float: right;
  width: 20%;
  -webkit-width: 20%;
  -moz-width: 20%;
  -ms-width: 20%;
  -o-width: 20%;
  display: inline-block;
  margin-right: 5%;
  -webkit-margin-right: 5%;
  -moz-margin-right: 5%;
  -ms-margin-right: 5%;
  -o-margin-right: 5%;
  margin-bottom: 0%;
  -webkit-margin-bottom: 0%;
  -moz-margin-bottom: 0%;
  -ms-margin-bottom: 0%;
  -o-margin-bottom: 0%;
}

#searchBox {
  width: 80%;
  -webkit-width: 80%;
  -moz-width: 80%;
  -ms-width: 80%;
  -o-width: 80%;
  border-top-left-radius: 2vw;
  -webkit-border-top-left-radius: 2vw;
  -moz-border-top-left-radius: 2vw;
  -ms-border-top-left-raduis: 2vw;
  -o-border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  -webkit-border-bottom-left-radius: 2vw;
  -moz-border-bottom-left-radius: 2vw;
  -ms-border-bottom-left-radius: 2vw;
  -o-border-bottom-left-radius: 2vw;
  font-size: 1vw;
  -webkit-font-size: 1vw;
  -moz-font-size: 1vw;
  -ms-font-size: 1vw;
  -o-font-size: 1vw;
  border: 1px solid #0099ff;
  padding-left: 2%;
  -webkit-padding-left: 2%;
  -moz-padding-left: 2%;
  -ms-padding-left: 2%;
  -o-padding-left: 2%;
  line-height: 2vw;
  -webkit-line-height: 2vw;
  -moz-line-height: 2vw;
  -ms-line-height: 2vw;
  -o-line-height: 2vw;
  float: left;
  color: #191919;
}

#submit {
  display: inline-block;
  width: 10%;
  -webkit-width: 10%;
  -moz-width: 10%;
  -ms-width: 10%;
  -o-width: 10%;
  padding-left: 0%;
  -webkit-padding-left: 0%;
  -moz-padding-left: 0%;
  -ms-padding-left: 0%;
  -o-padding-left: 0%;
  margin-left: 0%;
  -webkit-margin-left: 0%;
  -moz-margin-left: 0%;
  -ms-margin-left: 0%;
  -o-margin-left: 0%;
  float: left;
  border-top-right-radius: 2vw;
  -webkit-border-top-right-radius: 2vw;
  -moz-border-top-right-radius: 2vw;
  -ms-border-top-right-radius: 2em;
  -o-border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  -webkit-border-bottom-right-radius: 2vw;
  -moz-border-bottom-right-radius: 2vw;
  -ms-border-bottom-right-radius: 2em;
  -o-border-bottom-right-radius: 2vw;
  border: 1px solid #0099ff;;
  line-height: 2vw;
  -webkit-line-height: 2vw;
  -moz-line-height: 2vw;
  -ms-line-height: 2em;
  -o-line-height: 2vw;
  font-size: 1vw;
  -webkit-font-size: 1vw;
  -moz-font-size: 1vw;
  -ms-font-size: 1em;
  -o-font-size: 1vw;
  border-left: none;
  cursor: pointer;
  background-color: #0099ff;
  color: #fff;
  font-weight: bold;
}

*:focus {
  outline: none;
}

#featured {
  width: 100%;
  -webkit-width: 100%;
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 3%;
  -webkit-padding-top: 3%;
  -moz-padding-top: 3%;
  -ms-padding-top: 3%;
  -o-padding-top: 3%;
  padding-bottom: 3%;
  -webkit-padding-bottom: 3%;
  -moz-padding-bottom: 3%;
  -ms-padding-bottom: 3%;
  -o-padding-bottom: 3%;
  text-decoration: none;
}

#featuredArticle {
  color: #fff;
  font-size: 1vw;
  -webkit-font-size: 1vw;
  -moz-font-size: 1vw;
  -ms-font-size: 1vw;
  -o-font-size: 1vw;
}

#featuredTitle {
  color: #fff;
  font-size: 3vw;
  -webkit-font-size: 3vw;
  -moz-font-size: 3vw;
  -ms-font-size: 1.5em;
  -o-font-size: 3vw;
}

#featuredImage{
  width: 30%;
}

#categoryContainer {
  width: 100%;
  -webkit-width: 100%;
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  padding-top: 1%;
  -webkit-padding-top: 1%;
  -moz-padding-top: 1%;
  -ms-padding-top: 1%;
  -o-padding-top: 1%;
  padding-bottom: 1%;
  -webkit-padding-bottom: 1%;
  -moz-padding-bottom: 1%;
  -ms-padding-bottom: 1%;
  -o-padding-bottom: 1%;
  display: inline-block;
  margin-top: 1%;
  -webkit-margin-top: 1%;
  -moz-margin-top: 1%;
  -ms-margin-top: 1%;
  -o-margin-top: 1%;
  margin-bottom: 0%;
  -webkit-margin-bottom: 0%;
  -moz-margin-bottom: 0%;
  -ms-margin-bottom: 0%;
  -o-margin-bottom: 0%;
}

.categoryLink {
  padding: 1.5% 2% 1.5% 2%;
  -webkit-padding: 1.5% 2% 1.5% 2%;
  -moz-padding: 1.5% 2% 1.5% 2%;
  -ms-padding: 1.5% 2% 1.5% 2%;
  -o-padding: 1.5% 2% 1.5% 2%;
  font-size: 1.1vw;
  -webkit-font-size: 1.1vw;
  -moz-font-size: 1.1vw;
  -ms-font-size: 1em;
  -o-font-size: 1.1vw;
  color: #191919;
  text-decoration: none;
}

.categoryLink:hover {
  background-color: #fff;
  transition: .3s;
}

#activeCategory {
  background-color: #fff;
  font-weight: bold;
}

#articlesContainer {
  width: 100%;
  -webkit-width: 100%;
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  background-color: #fff;
  margin-top: 0%;
  -webkit-margin-top: 0%;
  -moz-margin-top: 0%;
  -ms-margin-top: 0%;
  -o-margin-top: 0%;
  padding-bottom: 5%;
  -webkit-padding-bottom: 5%;
  -moz-padding-bottom: 5%;
  -ms-padding-bottom: 5%;
  -o-padding-bottom: 5%;
}

p {
  margin: 0%;
  -webkit-margin: 0%;
  -moz-margin: 0%;
  -ms-margin: 0%;
  -o-margin: 0%;
}

ul {
  margin: 0%;
  -webkit-margin: 0%;
  -moz-margin: 0%;
  -ms-margin: 0%;
  -o-margin: 0%;
  width: 100%;
  -webkit-width: 100%;
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
  padding: 0%;
  -webkit-padding: 0%;
  -moz-padding: 0%;
  -ms-padding: 0%;
  -o-padding: 0%;
  overflow: auto;
}

li {
  list-style-type: none;
  width: 20%;
  -webkit-width: 20%;
  -moz-width: 20%;
  -ms-width: 20%;
  -o-width: 20%;
  margin-left: 3%;
  -webkit-margin-left: 3%;
  -moz-margin-left: 3%;
  -ms-margin-left: 3%;
  -o-margin-left: 3%;
  background-color: #e2e2e2;
  display: inline-block;
  margin-top: 5%;
  -webkit-margin-top: 5%;
  -moz-margin-top: 5%;
  -ms-margin-top: 5%;
  -o-margin-top: 5%;
  padding: 2%;
  -webkit-padding: 2%;
  -moz-padding: 2%;
  -ms-padding: 2%;
  -o-padding: 2%;
  float: left;
  height: 25vw;
}

.articleLink {
  text-decoration: none;
}

.articleImage {
  width: 100%;
  -webkit-width: 100%;
  -moz-width: 100%;
  -ms-width: 100%;
  -o-width: 100%;
}

.articleTitle {
  color: #191919;
  font-weight: bold;
  font-size: 1.4vw;
  -webkit-font-size: 1.4vw;
  -moz-font-size: 1.4vw;
  -ms-font-size: 1.4vw;
  -o-font-size: 1.4vw;
  text-decoration: none;
  margin-top: 2%;
  -webkit-margin-top: 2%;
  -moz-margin-top: 2%;
  -ms-margin-top: 2%;
  -o-margin-top: 2%;
  bottom: 40%;
  position: absolute;
}

.article_container {
  position: relative;
  height: 100%;
}

.articleAuthor {
  color: #373737;
  font-size: 1.1vw;
  -webkit-font-size: 1.1vw;
  -moz-font-size: 1.1vw;
  -ms-font-size: 1.1vw;
  -o-font-size: 1.1vw;
  position: absolute;
  bottom: 30%;
}

.articleDate {
  color: #fff;
  font-size: 1.1vw;
  -webkit-font-size: 1.1vw;
  -moz-font-size: 1.1vw;
  -ms-font-size: 1.1vw;
  -o-font-size: 1.1vw;
  bottom: -4%;
  position: absolute;
}
