<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{article.title}}</title>
    <link href="../static/css/article.css" rel="stylesheet" type="text/css">
  </head>
  <body style="background-color: {{article.primary_color}};">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=564241437078326";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="navigation">
      <a href="/" class="navigationLink" id="activeLink">Blog</a>
      <a href="/resources" class="navigationLink">Resources</a>
      <a href="/subscribe" class="navigationLink">Subscribe</a>
      <form method="GET" action="/search" id="searchContainer">
        <input type="text" placeholder="Search..." name="search" id="searchBox">
        <input type="submit" value="s" id="submit">
      </form>
    </div>
    <h1 id="articleTitle">{{article.title}}</h1>
    <img src="media/{{article.image}}" id="articleImage"/>
    <div id="metaContainer">
      <p id="articleAuthor">Author: {{article.author}}</p>
      <p id="articleDate">{{article.published_date}}</p>
    </div>
    <div class="fb-share-button" data-href="https://website.com/{{article.slug}}" data-layout="button" data-mobile-iframe="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="blogpost">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p id="articleContent">{{article.content}}</p>
    <div class="fb-share-button" data-href="https://website.com/{{article.slug}}" data-layout="button" data-mobile-iframe="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="blogpost">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>
