{% load staticfiles %}
<html>
  <head>
    <title>Articles</title>
    <link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script>
      function do_shit(){
        console.log("HERE");
        $.ajax({
          method: "POST",
          url: "/articles/",
          data: { csrfmiddlewaretoken: '{{csrf_token}}' }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg.username + " " + msg.password );
        });
      }
    </script>
  </head>
  <body>
    <div id="navigation">
      <a href="/" class="navigationLink" id="activeLink">Blog</a>
      <a href="/" class="navigationLink">Resources</a>
      <a href="/" class="navigationLink">Subscribe</a>
      <form method="GET" action="/search" id="searchContainer">
        <input type="text" placeholder="Search..." name="search" id="searchBox">
        <input type="submit" value="s" id="submit">
      </form>
    </div>
    <a href="/{{featured.slug}}" id="featured">
      <h1 id="featuredArticle">FEATURED ARTICLE</h1>
      <h1 id="featuredTitle">{{featured.title}}</h1>
      <img src="{% static "images/data.png" %}"/>
    </a>
    <div id="categoryContainer">
      <a href="javascript:void(0);" class="categoryLink" id="activeCategory">Most Recent</a>
      <a href="javascript:void(0);" class="categoryLink">Most Popular</a>
    </div>
    <div id="articlesContainer">
      <ul id="article_list">
        {% for article in articles %}
          <li class="article_item">
            <a href="/{{article.slug}}" class="articleLink">
              <div class="article_container">
                <img src="/media/images/data.png" class="articleImage"/>
                <p class="articleTitle">{{article.title}}</p>
                <p class="articleAuthor">Author: {{article.author}}</p>
                <p class="articleDate">{{article.published_date}}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
