{% load staticfiles %}
<html>
  <head>
    <title>Resources</title>
    <link href="{% static "css/resources.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script>
      function do_shit(){
        console.log("HERE");
        $.ajax({
          method: "POST",
          url: "/articles/",
          data: { csrfmiddlewaretoken: '{{csrf_token}}' }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg.username + " " + msg.password );
        });
      }
    </script>
  </head>
  <body>
    <div id="navigation">
      <a href="/" class="navigationLink">Blog</a>
      <a href="/resources" class="navigationLink" id="activeLink">Resources</a>
      <a href="/subscribe" class="navigationLink">Subscribe</a>
      <form method="GET" action="/search" id="searchContainer">
        <input type="text" placeholder="Search..." name="search" id="searchBox">
        <input type="submit" value="s" id="submit">
      </form>
    </div>
    <div id="topDiv">
      <div class="resourceContainer" onclick="location.href='https://www.codecademy.com';">
        <h1 class="resourceName">Beginner Coding Courses</h1>
        <p class="resourceDescription">Want to learn to code, but don't know where to begin? Check out <a href="https://www.codecademy.com" class="link">codecademy.com</a>, a free online resource for learning the basics of most popular languages and frameworks. Languages included are HTML & CSS, Javacript, Ruby, Python, and PHP, among others.</p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://www.browserhacks.com';">
        <h1 class="resourceName">Browser Hacks</h1>
        <p class="resourceDescription">Have a weird bug or need to do something very specific for a browser but don't know where to start? <a href="http://www.browserhacks.com" class="link">browserhacks.com</a> is a great place to look that's full of info and tricks to help you fix your bugs and get your website cross-browser compatible.</p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://github.com/alexdovzhanyn/compatibilify.git';">
        <h1 class="resourceName">Compatibilify</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://github.com/alexdovzhanyn/compatibilify.git';">
        <h1 class="resourceName">Pandas</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='https://d3js.org/';">
        <h1 class="resourceName">D3.js</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://www.python-requests.org/en/master/';">
        <h1 class="resourceName">Requests</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://scrapy.org/';">
        <h1 class="resourceName">Scrapy</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='https://www.crummy.com/software/BeautifulSoup/';">
        <h1 class="resourceName">Beautiful Soup</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='https://github.com/python-pillow/Pillow';">
        <h1 class="resourceName">Pillow</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://www.numpy.org/';">
        <h1 class="resourceName">Numpy</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://www.scipy.org/';">
        <h1 class="resourceName">Scipy</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://matplotlib.org/';">
        <h1 class="resourceName">matplotlib</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>
      <div class="resourceContainer" onclick="location.href='http://ipython.org/';">
        <h1 class="resourceName">IPython</h1>
        <p class="resourceDescription">Quickly run a CSS file through this ruby app to make it cross-browser compatible within seconds. Read about it <a href="/save-time-writing-css" class="link">here.</a> You can get it from <a href="http://github.com/alexdovzhanyn/compatibilify.git" class="link">GitHub</a></p>
      </div>

    </div>
  </body>
</html>
