{% load staticfiles %}
<html>
  <head>
    <title>Resources</title>
    <link href="{% static "css/resources.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script>
      function do_shit(){
        console.log("HERE");
        $.ajax({
          method: "POST",
          url: "/articles/",
          data: { csrfmiddlewaretoken: '{{csrf_token}}' }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg.username + " " + msg.password );
        });
      }
    </script>
  </head>
  <body>
    <div id="navigation">
      <a href="/" class="navigationLink">Blog</a>
      <a href="/resources" class="navigationLink" id="activeLink">Resources</a>
      <a href="/subscribe" class="navigationLink">Subscribe</a>
      <form method="GET" action="/search" id="searchContainer">
        <input type="text" placeholder="Search..." name="search" id="searchBox">
        <input type="submit" value="s" id="submit">
      </form>
    </div>
    <div id="topDiv">
      <a href="" class="resourceContainer">
        <h1 class="resourceName">Sample Resource</h1>
        <p class="resourceDescription">Some things about this resource are written here, not too much, but not too little. Just enough for users to know what the resource is and whether it would interest them or not.</p>
      </a>
    </div>
  </body>
</html>
