{% load staticfiles %}
<html>
  <head>
    <title>Resources</title>
    <link href="{% static "css/resources.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script>
      function do_shit(){
        console.log("HERE");
        $.ajax({
          method: "POST",
          url: "/articles/",
          data: { csrfmiddlewaretoken: '{{csrf_token}}' }
        })
        .done(function( msg ) {
          alert( "Data Saved: " + msg.username + " " + msg.password );
        });
      }
    </script>
  </head>
  <body>
    <div id="navigation">
      <a href="/" class="navigationLink">Blog</a>
      <a href="/resources" class="navigationLink" id="activeLink">Resources</a>
      <a href="/subscribe" class="navigationLink">Subscribe</a>
      <form method="GET" action="/search" id="searchContainer">
        <input type="text" placeholder="Search..." name="search" id="searchBox">
        <input type="submit" value="s" id="submit">
      </form>
    </div>
    <div id="topDiv">
    </div>
  </body>
</html>
