{% load staticfiles %}
<html>
  <head>
    <title>Subscribe</title>
    <link href="{% static "css/subscribe.css" %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script>
      function subscribe(event){
        event.preventDefault()
        console.log("SUBSCRIBE");
        $.ajax({
          method: "POST",
          url: "/subscribe",
          data: {
          email:$("#formText").val(),
          csrfmiddlewaretoken: '{{csrf_token}}' }
        })
        .done(function( result ) {
          if (result.status === 200 ){
            alert( "A confirmation email has been sent to : " + $("#formText").val() );
          } else {
            alert( "There was an issue. Please use another email." );
          }
        });
      }
    </script>
  </head>
  <body>
    <div id="navigation">
      <a href="/" class="navigationLink">Blog</a>
      <a href="/resources" class="navigationLink">Resources</a>
      <a href="/subscribe" class="navigationLink" id="activeLink">Subscribe</a>
      <form method="GET" action="/search" id="searchContainer">
        <input type="text" placeholder="Search..." name="search" id="searchBox">
        <input type="submit" value="s" id="submit">
      </form>
    </div>
    <div id="topDiv">
      <h1 id="topDivHeader">Subscribe to Our Newsletter!</h1>
      <p id="topDivSubHeader">Want to get the latest on our blog? We'll send you weekly emails to keep you updated!</p>
      <img src="{% static "images/subscribe.jpg" %}" id="headerImage"/>
      <form id="emailSubscribe">
        <input type="email" name="email" placeholder="Your Email (e.g. 'john@example.com')" id="formText">
        <button type="submit" value="Subscribe" id="email" onclick="subscribe(event)">Submit</button>
      </form>
    </div>
  </body>
</html>
